// COLOR VARIABLES

$color-nyanza: #d8f3dc;
$color-turquoise-green-1: #b7e4c7;
$color-turquoise-green-2: #95d5b2;
$color-ocean-green-1: #74c69d;
$color-ocean-green-2: #52b788;
$color-emerald-green: #40916c;
$color-bottle-green: #2d6a4f;
$color-brunswick-green: #1b4332;
$color-dark-green: #081c15;
